<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Top navbar example · Bootstrap v5.2</title>

    <link href="/bootstrap.min.css" rel="stylesheet">

    <meta name="theme-color" content="#712cf9">
    <link href="/navbar-top.css" rel="stylesheet">
</head>
<body>

<%- include('widgets/header') %>

<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Edit Product</h1>
        <form action="/edit-product/<%= product.id %>" method="POST">
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" type="text" name="title" value="<%= product.title %>"/>
                    </div>
                </div>
                <div class="col-6 mt-4">
                    <div class="form-group">
                        <label>Price</label>
                        <input class="form-control" type="number" name="price" value="<%= product.price%>"/>
                    </div>
                </div>
                <div class="col-6 mt-4">
                    <div class="form-group">
                        <label>Category</label>
                        <select name="category" class="form-control">
                            <option <%= product.category === 'Electronics' ? 'selected' : ''  %>>Electronics</option>
                            <option <%= product.category === 'Skincare' ? 'selected' : ''  %>>Skincare</option>
                            <option <%= product.category === 'Fashion' ? 'selected' : ''  %>>Fashion</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 mt-4">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" rows="5" name="description"><%= product.description %></textarea>
                    </div>
                </div>
                <div class="col-6 mt-4">
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" name="imageUrl" class="form-control" value="<%= product.imageUrl %>"/>
                    </div>
                </div>
                <div class="col-12 mt-4 text-end">
                    <button class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
</main>


<script src="/bootstrap.min.js"></script>


</body>
</html>
