<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>

<link href="/bootstrap.min.css" rel="stylesheet">

<meta name="theme-color" content="#712cf9">
    <link href="/navbar-top.css" rel="stylesheet">
  </head>
  <body>
    
<%- include('widgets/header') %>

<main class="container-fluid">
  <div class="row p-4">
    <div class="col-9">
      <div class="row">
        <div class="col-3">
          <% categories.forEach((category)=>{
          %>
            <a class="btn btn-primary w-100 mb-2"><%= category.name %></a>
          <%
          }) %>
        </div>
        <div class="col-9">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://ng.jumia.is/cms/0-5-brand-festival/2023/BF-Slider.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://ng.jumia.is/cms/0-1-initiatives/flashsale/2023/Revamp/Desktop_Homepage_Slider__712x384.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://ng.jumia.is/cms/0-CMS-MIGRATION-2020/defacto/2023/June/defacto-slider.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-12 mt-5">
          <div class="row">
            <%
            for(let i = 0; i < products.length; i++){
            %>

              <div class="col-12 col-md-4 col-lg-3 mb-4" style="">
                <div class="card" style="position:relative;">
                  <div class="m-1" style="position: absolute; right: 5px; top: 5px;">
                    <a href="/add-to-cart/<%= products[i].id %>" class="btn btn-primary btn-sm" style="font-size: 10px;">Add to Cart</a>
                  </div>
                  <div style="background-image: url(<%= products[i].imageUrl %>); background-size: cover; background-repeat: no-repeat; height: 150px; border-radius: 10px; background-position: center;"></div>
                  <div class="card-body">
                    <h5 class="card-title"><%= products[i].title %></h5>
                    <p class="card-text"><%= products[i].description %></p>
                    <h6>N<%= parseInt(products[i].price).toLocaleString('en-GB') %></h6>
                    <div class="text-end">
                      <a href="/product/<%= products[i].id %>" class="btn btn-primary btn-sm">View</a>
                      <a href="/edit-product/<%= products[i].id %>" class="btn btn-primary btn-sm">Edit</a>
                      <a href="/delete-product/<%= products[i].id %>" class="btn btn-danger btn-sm product-delete-btn">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            <%
            }
            %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <% carts.forEach((cart)=>{
      %>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="<%= cart.Product.imageUrl %>" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= cart.Product.title %></h5>
                <p class="card-text"><%= cart.Product.price %></p>

              </div>
            </div>
          </div>
        </div>
      <%
      }) %>
    </div>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>
  <script>
    $('.product-delete-btn').on('click',function(){
      return confirm('Are you sure you want to delete this product?')
    });
  </script>

      
  </body>
</html>
