<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>

<link href="/bootstrap.min.css" rel="stylesheet">

<meta name="theme-color" content="#712cf9">
    <link href="/navbar-top.css" rel="stylesheet">
  </head>
  <body>
    
<%- include('widgets/header') %>

<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>All Products</h1>
    <div class="row">
      <%
        for(let i = 0; i < products.length; i++){
      %>
        <div class="col-3 mb-4" style="">
          <div style="position: relative; height: 250px; width: 100%; border-radius: 20px; background-color: ghostwhite; background-image: url(<%= products[i].imageUrl %>); background-repeat: no-repeat; background-size: contain; border: thin solid grey;">
            <div class="" style="margin-top: 100px; background-color: white; padding: 20px;">
              <h5><%= products[i].title %></h5>
              <h6>N<%= parseInt(products[i].price).toLocaleString('en-GB') %></h6>
              <div class="text-end">
                <a href="/product/<%= products[i].id %>" class="btn btn-primary">View</a>
                <a href="/edit-product/<%= products[i].id %>" class="btn btn-primary">Edit</a>
              </div>
            </div>
          </div>
        </div>
      <%
        }
      %>
    </div>
  </div>
</main>


    <script src="/bootstrap.min.js"></script>

      
  </body>
</html>
